.container {
    border-bottom: solid 1px #aaa;
    margin-bottom: 4px;
}

.input{
    padding: 10px 10px 4px 10px;
    color: #aaa;
}

.input,
.input:focus,
.input:active{
    border: none !important;
    outline: none !important;
}
