{
    "presets": ["es2015", "stage-1", "react"],

    "plugins": [
        [ "./script/babel-plugin-require-absolute.js", { "moduleDirectory": ["src"] } ],
    ],

    "ignore": [
        "node_modules/**/*.js",
        "lib/**/*.js"
    ]
}
